/*ANIMATE*/
nav{
	-o-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
}
.header{
	-o-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.about-me{
	-o-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.blog{
	-o-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
.contact-me{
	-o-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
/*END ANIMATE*/

/*DEFAULT*/
h2{
	font-family: 'Oswald', sans-serif;
	font-size: 43px;
	color: white;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #403e3e;
	text-align: justify;
}
h3{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	margin-left: 40px;
	margin-bottom: 20px;
}
hr{
	border-color: #a89b9b;
	opacity: 0.7;
	margin-bottom: 0;
}
/* END DEFAULT*/
.navbar-default {
    background-color: #333e50;
    border-bottom: 5px solid #a63db6;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
	font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 1.8em;
    padding-top: 41px;
    padding-bottom: 39px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #5c0f68;
    background-color: #fff;
    opacity: 0.8;
}

.navbar-default .navbar-nav > .active > a{
	color: #5c0f68;
    background-color: #fff;
	height: 100px;
	width: 100px;
	text-align: center;
	padding-top: 41px;
	opacity: 0.8;
}
.navbar-default .navbar-nav > .active > a:hover{
	color: #5c0f68;
    background-color: #fff;
    opacity: 0.8;
}
.logo{
	height: 100px;
	width: 100px;
	background-color: #d038d2;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 5em;
	color: #fff;
	margin-left: 31px;
}
.logo:hover{
	opacity: 0.8;
}

.navbar-nav li .facebook{
	color: #fff;
	background-color: #4966a0;
	height: 100px;
	width: 100px;
	text-align: center;
	padding: 26px 0;
	font-size: 3em;
}
.navbar-nav li .twitter{
	color: #fff;
	background-color: #64c5e8;
	height: 100px;
	width: 100px;
	text-align: center;
	padding: 26px 0;
	font-size: 3em;
}
.navbar-nav li .facebook:hover, .navbar-nav li .twitter:hover{
	opacity: 0.6;
}

/* HEADER*/
header{
	height: 618px;
	background: url("../img/header-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	background-color: #282828;
}

header img{
	height: 300px;
	width: 300px;
	border: 20px solid #fff;
	margin-top: 50px;
	-webkit-box-shadow: -1px 26px 27px -18px rgba(0,0,0,0.73);
	-moz-box-shadow: -1px 26px 27px -18px rgba(0,0,0,0.73);
	box-shadow: -1px 26px 27px -18px rgba(0,0,0,0.73);
}
header img:hover{
	-webkit-box-shadow: 0px 1px 19px 1px rgba(161,17,184,1);
	-moz-box-shadow: 0px 1px 19px 1px rgba(161,17,184,1);
	box-shadow: 0px 1px 19px 1px rgba(161,17,184,1);
}
header p{
	color:#fff;
	text-align: center;
}
/* END HEADER*/
/* MAIN-CONTENT*/

.about-me > h3, .blog > h3, .contact-me > h3{
	padding: 10px 20px;
	margin-top: 40px;
	margin-left: 40px;
	display: inline-block;
	border: 5px solid #a111b8;
	color: #a111b8;
	margin-right: 30px;
	background-color: #fff;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	-webkit-transition: background-color 0.5s linear;
}
.about-me > h3:hover{
	background-color: #a111b8;
	color: #fff;
}
.blog > h3:hover, .contact-me > h3:hover {
	background-color: #a111b8;
	color: #fff;
}
.about-me h3 small{
	margin-left: 20px;
	border-left: 3px solid #a7a1a1;
	padding-left: 20px;
}

/*blog*/
.blog img{
	margin-top: 20px;
}
.blog img:hover{
	opacity: 0.6;
}
.blog h3 small{
	text-transform: uppercase;
}
.blog h3 small:hover{
	color: #a111b8;
}
.blog p{
	padding-right: 20px;
}
/*end blog*/
/*contact*/
.contact-me input{
	border: 3px solid #a9a8a8;
	margin: 0px 0px 36px 0px;
	width: 100%;
	height: 66px;
	font-family: 'Oswald', sans-serif;
	color: #8a7676;
	font-size: 1.7em;
	padding-left: 20px;}

.contact-me input:hover{
	border: 3px solid #a111b8;
	-webkit-box-shadow: 0px 2px 13px 3px rgba(161,17,184,0.73);
	-moz-box-shadow: 0px 2px 13px 3px rgba(161,17,184,0.73);
	box-shadow: 0px 2px 13px 3px rgba(161,17,184,0.73);
}

.contact-me .submit{
	width: 200px;
	border: 5px solid #a111b8;
	color: #a111b8;
	padding-left: 0;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	-webkit-transition: background-color 0.5s linear;
}
.submit:hover{
	background-color: #a111b8;
	color: #fff;
}
.contact-me textarea{
	border: 3px solid #a9a8a8;
	margin: 0px 0px 36px 0px;
	font-family: 'Oswald', sans-serif;
	color: #8a7676;
	font-size: 1.7em;
	padding-left: 20px;
	width: 100%;
	padding-top: 20px;
}
.contact-me textarea:hover{
	border: 3px solid #a111b8;
	-webkit-box-shadow: 0px 2px 13px 3px rgba(161,17,184,0.73);
	-moz-box-shadow: 0px 2px 13px 3px rgba(161,17,184,0.73);
	box-shadow: 0px 2px 13px 3px rgba(161,17,184,0.73);
}
.info{
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	color: #8a7676;
	line-height: 40px;
	padding-left: 20px;
}
.info i{
	margin-right: 10px;
	font-size: 1.5em;
}
/*end contact*/
/*FOOTER*/
footer{
	height: 117px;
	width: 100%;
	background-color: #333e50;
}
/*END FOOTER*/

@media (max-width: 768px) {
.navbar-default .navbar-nav > li > a {
	font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 2em;
    padding-top: 41px;
    padding-bottom: 39px;
    width: 100%;
    text-align: center;
}
.navbar-default .navbar-nav > .active > a{
	color: #fff;
	background-color: #5c0f68;
	height: 100px;
	width: 100%;
	text-align: center;
	padding-top: 41px;
}
.navbar-toggle{
	margin-top: 34px;
}
.navbar-nav li .facebook{
	color: #fff;
	background-color: #4966a0;
	height: 100px;
	width: 100%;
	text-align: center;
	padding: 26px 0;
	font-size: 3em;
}
.navbar-nav li .twitter{
	color: #fff;
	background-color: #64c5e8;
	height: 100px;
	width: 100%;
	text-align: center;
	padding: 26px 0;
	font-size: 3em;
}
.about-me, .blog, .contact-me{
	padding-left: 20px;
	padding-right: 20px;
}
}